body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    background-color: black;
    color: white;
    grid-template-areas:
            ".. hd hd hd hd .."
            ".. mn mn mn mn .."
            ".. nv nv nv nv ..";
}

main {
    margin: 30px 0;
    grid-area: mn;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
}

header {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: center;
    flex-direction: row-reverse;
    grid-area: hd;
}

nav {
   grid-area: nv;
   margin-bottom: 30px;
   justify-self: center;
}

.origin {
    grid-column: 2 / span 4;
}

.ingredients {
    grid-column: 2 / span 4;
}

.instructions {
    grid-column: 2 / span 4;
}

img {
    width: 65%;
    margin-right: 20px;
    border-radius: 30px 30px;
}

h1 , h2 , h3 {
    color: orange;
    font-family: 'Kalam', cursive;
}


a {
    text-decoration: none;
    border-bottom: dashed;
    color: rgb(236, 204, 145);
}

a:hover {
    color: pink;
}

h1 {
    align-self: center;
    font-size: min(max(2em, 4vw), 3em);
}

h2 {
    align-self: center;
    font-size: min(max(1.5em, 4vw), 1.8em);
}

h3 {
    align-self: center;
    font-size: min(max(1.17em, 4vw), 1.4em);
}

section {
    margin-bottom: 15px;
}


/* media queries that apply for small screens */

@media screen and (max-width: 729px) {
    img {
        width: 100%;
    }
    
    h1 {
        margin: auto;
    }
}