body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    background-color: black;
    color: white;
    grid-template-areas:
            ".. hd hd hd hd .."
            ".. mn mn mn mn .."
            ".. nv nv nv nv ..";
}

.grid-container.groundnut img {
    width: 50%;
}

main {
    margin: 30px 0;
    grid-area: mn;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
}

header {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: center;
    flex-direction: row-reverse;
    grid-area: hd;
}

nav {
   grid-area: nv;
   margin-bottom: 30px;
   justify-self: center;
}

section {
    grid-column: 2 / span 4;
}

img {
    width: 65%;
    margin-right: 20px;
    border-radius: 30px 30px;
}

img.banku {
    width: 57%;
}

img.fufu {
    width: 60%;
}

h1 , h2 , h3 {
    color: orange;
    font-family: 'Kalam', cursive, sans-serif;
    line-height: initial;
}


a {
    text-decoration: none;
    border-bottom: dashed;
    color: rgb(236, 204, 145);
}

a:hover {
    color: pink;
}

h1 {
    align-self: center;
    font-size: min(max(2em, 4vw), 3em);
}

h2 {
    align-self: center;
    font-size: min(max(1.5em, 4vw), 1.8em);
}

h3 {
    align-self: center;
    font-size: min(max(1.17em, 4vw), 1.4em);
}

section {
    margin-bottom: 15px;
}

span {
    font-weight: bolder;
}


/* media queries that apply for small screens */

@media screen and (max-width: 729px) {
    img {
        width: 100%;
        margin: 0 auto;
    }
    
    h1 {
        margin: 0 auto;
        margin-bottom: 15px;
    }

        .grid-container {
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas:
                ".. hd hd hd hd hd hd hd hd hd hd .."
                ".. mn mn mn mn mn mn mn mn mn mn .."
                ".. nv nv nv nv nv nv nv nv nv nv ..";
        }

        .grid-container.groundnut img {
            width: 100%;
            margin: 0 auto;
        }

                img.banku {
                    width: 100%;
                    margin: 0 auto;
                }

                img.fufu {
                    width: 100%;
                    margin: 0 auto;
                }
    main {
        grid-template-columns: repeat(12, 1fr);
    }

    section {
        grid-column: 1 / span 12;
    }

    header {
        margin-bottom: 10px;
    }
}


/*Styles for index.html*/

body.index {
    background-color: black;
    color: white;
}

body.index div.grid-container h1.index {
    margin-top: 20px;
    grid-area: h1;
    justify-self: center;
}

body.index div.grid-container div.left-container {
    grid-area: lc;
    justify-self: center;
}

body.index div.grid-container div.right-container {
    grid-area: rc;
    justify-self: center;
}

body.index div.grid-container div a span {
    display: block;
    text-align: center;
    font-size: min(max(1.5em, 4vw), 1.8em);
    margin-bottom: 25px;
    margin-top: -10px;
    line-height: initial;
}

body.index div.grid-container div a {
    border-bottom: none;
}

body.index div.grid-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
            ".. .. h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 .. .."
            ".. lc lc lc lc lc lc .. rc rc rc rc rc rc .."
            ".. lc lc lc lc lc lc .. rc rc rc rc rc rc .."
            ".. lc lc lc lc lc lc .. rc rc rc rc rc rc ..";
}